In [3]:
a= [2,3,7,2,6]
b=[10,8,7,5,10]
c=[10,13,14,13,15]

In [4]:
import numpy as np
import scipy.stats as stats
import pandas as pd

In [5]:
## Fstats= (Variance_bet_group/df1)/(Variance_within_the_group/df2)

In [6]:
df1=2
df2= 12

In [7]:
## Variance_between_group= n*sum((Overallmean-sample_mean)**2)
## Variance_within_group= Vars1+Vars2+Vars3

In [9]:
## Variance_between_group
n=5

In [10]:
mean_a= np.mean(a)
mean_b= np.mean(b)
mean_c= np.mean(c)
print(mean_a,mean_b,mean_c)

4.0 8.0 13.0

In [11]:
Overall_mean= (mean_a+mean_b+mean_c)/3
Overall_mean

8.333333333333334

In [12]:
Variance_bet_group= n*((Overall_mean-mean_a)**2)+n*((Overall_mean-mean_b)**2)+n*((Overall_mean-mean_c)**2)
Variance_bet_group

203.33333333333331

In [13]:
## Variance_within_group

In [14]:
Variance_within_group= sum((a-mean_a)**2)+sum((b-mean_b)**2)+ sum((c-mean_c)**2)
Variance_within_group

54.0

In [16]:
Fstats= (Variance_bet_group/df1)/(Variance_within_group/df2)
Fstats

22.59259259259259

In [17]:
stats.f_oneway(a,b,c)

F_onewayResult(statistic=22.59259259259259, pvalue=8.538592454274673e-05)

In [18]:
F_critical= stats.f.ppf(0.95,2,12)
F_critical

3.8852938346523946

In [19]:
df= pd.read_csv('Plant_growth.csv')

In [21]:
df.head()

   weight treatment_type
0    4.17           ctrl
1    5.58           ctrl
2    5.18           ctrl
3    6.11           ctrl
4    4.50           ctrl

In [22]:
## H0-- Ctrl= trt1= trt2
## Ha-- Ctrl!=trt1!=trt2

In [23]:
df.treatment_type.value_counts()

ctrl    10
trt1    10
trt2    10
Name: treatment_type, dtype: int64

In [29]:
ctrl=df[df.treatment_type=='ctrl']['weight']
ctrl

0    4.17
1    5.58
2    5.18
3    6.11
4    4.50
5    4.61
6    5.17
7    4.53
8    5.33
9    5.14
Name: weight, dtype: float64

In [30]:
trt1=df[df.treatment_type=='trt1']['weight']
trt1

10    4.81
11    4.17
12    4.41
13    3.59
14    5.87
15    3.83
16    6.03
17    4.89
18    4.32
19    4.69
Name: weight, dtype: float64

In [32]:
trt2=df[df.treatment_type=='trt2']['weight']
trt2

20    6.31
21    5.12
22    5.54
23    5.50
24    5.37
25    5.29
26    4.92
27    6.15
28    5.80
29    5.26
Name: weight, dtype: float64

In [33]:
stats.f_oneway(ctrl,trt1,trt2)

F_onewayResult(statistic=4.846087862380136, pvalue=0.015909958325622895)

In [34]:
F_critical= stats.f.ppf(0.95,2,27)
F_critical

3.3541308285291986

In [35]:
## Fcritical < Fstats reject H0
## Ctrl!=trt1!=trt2

## Chisquare_test

In [38]:
Exp= [150,100,250]
Obs= [140,160,200]

In [39]:
stats.chisquare(Obs,Exp)

Power_divergenceResult(statistic=46.666666666666664, pvalue=7.352958061453826e-11)

In [40]:
chi_critical= stats.chi2.ppf(0.95,2)
chi_critical

5.991464547107979

## A school principal would like to know which day of the week students are most likely to be absent. The principal expects that students will be absent equally during the 5-day school weak. The principal selects a random sample of 100 teachers asking them which day of the week they had the highest number of student absences. The observed and expected results are shown in table below. Based on the results do the days for the highest number of absences occur with equal frequencies? (Use 	a 5% significant level)

In [ ]:
        	Mo  Tu	We	Th Fri
observed	23	16	14	19	28
Expected	20	20	20	20	20

In [41]:
Obs=[23,16,14,19,28]
Exp=[20,20,20,20,20]

In [42]:
## H0--Absence occur with different frequencies
## Ha-- Absence occur with same frequencies

In [43]:
stats.chisquare(Obs,Exp)

Power_divergenceResult(statistic=6.3, pvalue=0.1778363264982168)

In [46]:
chi_critical=stats.chi2.ppf(0.95,4)
chi_critical

9.487729036781154

In [47]:
## Since chi_stats<chi_critical fail to reject H0
## So Absence occur with different frequencies

In [48]:
df= pd.read_csv('Voting_pattern.csv')

In [49]:
df.head()

       RACE PARTY
0     WHITE   PQR
1     WHITE   PQR
2     WHITE   ABC
3  HISPANIC   ABC
4     ASIAN   ABC

In [50]:
df.RACE.value_counts()

WHITE               534
HISPANIC            236
African American    151
ASIAN                42
OTHER                37
Name: RACE, dtype: int64

In [51]:
df.PARTY.value_counts()

PQR    404
ABC    403
XYZ    193
Name: PARTY, dtype: int64

In [52]:
df.shape

(1000, 2)

In [59]:
42*403/1000

16.926

In [60]:
df_new=pd.crosstab(index=df.RACE,columns=df.PARTY)
df_new

PARTY             ABC  PQR  XYZ
RACE
ASIAN              19   15    8
African American   60   59   32
HISPANIC          105   86   45
OTHER              12   17    8
WHITE             207  227  100

In [61]:
stats.chi2_contingency(df_new)

Chi2ContingencyResult(statistic=4.737839473077469, pvalue=0.7851934085104637, dof=8, expected_freq=array([[ 16.926,  16.968,   8.106],
       [ 60.853,  61.004,  29.143],
       [ 95.108,  95.344,  45.548],
       [ 14.911,  14.948,   7.141],
       [215.202, 215.736, 103.062]]))

In [63]:
chi_critical= stats.chi2.ppf(0.95,8)
chi_critical

15.507313055865453