In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

### Simple_Linear_Reg

In [2]:
df= pd.read_csv('sl1.csv')

In [3]:
df.head()

   Area   Price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [4]:
target= df[['Price']]
target

    Price
0  550000
1  565000
2  610000
3  680000
4  725000

In [5]:
feature= df.drop(columns='Price')
feature

   Area
0  2600
1  3000
2  3200
3  3600
4  4000

In [12]:
x_train,x_test,y_train,y_test= train_test_split(feature,target,train_size=0.7,random_state=10)

In [19]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3, 1)
(2, 1)
(3, 1)
(2, 1)

In [20]:
lin_model=LinearRegression()

In [21]:
lin_model.fit(x_train,y_train)

LinearRegression()

In [22]:
## Training_Validation
y_pred= lin_model.predict(x_train)
y_pred

array([[534294.87179487],
       [718717.94871795],
       [586987.17948718]])

In [23]:
r2_score(y_train,y_pred)

0.9591026776589222

In [24]:
## Testing_Validation
y_pred1= lin_model.predict(x_test)
r2_score(y_test,y_pred1)

0.9157576245488329

In [25]:
lin_model.intercept_

array([191794.87179487])

In [26]:
lin_model.coef_

array([[131.73076923]])